In [3]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style("whitegrid")

In [4]:
df=pd.read_csv("matches.csv")
df1=DataFrame([df["city"],df["team1"],df["team2"],df["toss_winner"],df["toss_decision"],df["winner"],df["venue"]]).T

In [5]:
df1.head()

,city,team1,team2,toss_winner,toss_decision,winner,venue
0,Hyderabad,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,"Rajiv Gandhi International Stadium, Uppal"
1,Pune,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,Rising Pune Supergiant,Maharashtra Cricket Association Stadium
2,Rajkot,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,Saurashtra Cricket Association Stadium
3,Indore,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,Holkar Cricket Stadium
4,Bangalore,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,M Chinnaswamy Stadium

In [6]:
def team(name):
    hy=[]
    ct=[]
    t2=[]
    td=[]
    w=[]
    v=[]
    t1=[]
    for i in np.arange(len(df1["city"])):
        if df1["team1"][i]==name:
            ct=np.append(ct,df1["city"][i])
            t1=np.append(t1,name)
            t2=np.append(t2,df1["team2"][i])
            td=np.append(td,df1["toss_decision"][i])
            w=np.append(w,df1["winner"][i])
            v=np.append(v,df1["venue"][i])
    teamdf=DataFrame([ct,t1,t2,td,w,v],index=["city","team1","team2","toss_decision","winner","venue"]).T
    return teamdf

In [7]:
team("Kolkata Knight Riders").head()

,city,team1,team2,toss_decision,winner,venue
0,Mumbai,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,Wankhede Stadium
1,Kolkata,Kolkata Knight Riders,Sunrisers Hyderabad,field,Kolkata Knight Riders,Eden Gardens
2,Kolkata,Kolkata Knight Riders,Gujarat Lions,field,Gujarat Lions,Eden Gardens
3,Kolkata,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,Eden Gardens
4,Kolkata,Kolkata Knight Riders,Rising Pune Supergiant,field,Rising Pune Supergiant,Eden Gardens

In [8]:
def winfrq(team2): 
    kkr=team(team2) 
    pw=0
    for i in np.arange(len(kkr["city"])):
        if (kkr["winner"][i]==team2):
            pw=(pw+1)
    return pw

In [9]:
def px4w(tem):
    kkr=team(tem)     
    pw1=winfrq(tem)
                            #this is the function taking the team and this giving the winnning proobablity for fielding and batting respectively
    pb=0
    pf=0
    for i in np.arange(len(kkr["city"])):
        if (kkr["toss_decision"][i]=="field") & (kkr["winner"][i]==tem):
             pf=(pf+1)
        elif (kkr["toss_decision"][i]=="bat") & (kkr["winner"][i]==tem):
             pb=(pb+1)
    return pb/pw1,pf/pw1

In [10]:
(px4w("Kolkata Knight Riders"))               #so this give sthe fdact that the prob of kkr winning field first is more than bat first

(0.5172413793103449, 0.4827586206896552)

In [11]:
venues=Series(np.unique(df1["venue"]))

In [12]:
def ven(tem,ground):
    kkr=team(tem)  
    pw1=winfrq(tem)
    pb=0
    for i in np.arange(len(kkr["city"])):
          if (kkr["venue"][i]==ground) & (kkr["winner"][i]==tem):
                pb=pb+1
    return pb/pw1

In [13]:
ven("Kolkata Knight Riders","M Chinnaswamy Stadium")
#ven("Sunrisers Hyderabad","Sharjah Cricket Stadium")

0.06896551724137931

In [14]:
def winven(team):
    s=[]
    for i in venues:
        s=np.append(s,(ven(team,i)))
    dfven=DataFrame(s,index=venues,columns=["prob"])   
    return dfven

In [15]:
def home(team,venu):
    ph=(winven(team)["prob"])[venu]
    pa=1-ph
    return ph,pa

In [16]:
#home("Kolkata Knight Riders","Eden Gardens")""
(winven("Kolkata Knight Riders")["prob"])

Barabati Stadium                                        0.000000
Brabourne Stadium                                       0.000000
Buffalo Park                                            0.000000
De Beers Diamond Oval                                   0.000000
Dr DY Patil Sports Academy                              0.034483
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     0.000000
Dubai International Cricket Stadium                     0.000000
Eden Gardens                                            0.551724
Feroz Shah Kotla                                        0.034483
Green Park                                              0.000000
Himachal Pradesh Cricket Association Stadium            0.000000
Holkar Cricket Stadium                                  0.000000
JSCA International Stadium Complex                      0.000000
Kingsmead                                               0.000000
M Chinnaswamy Stadium                                   0.068966
MA Chidambaram Stadium, Chepauk                         0.000000
Maharashtra Cricket Association Stadium                 0.000000
Nehru Stadium                                           0.000000
New Wanderers Stadium                                   0.000000
Newlands                                                0.000000
OUTsurance Oval                                         0.000000
Punjab Cricket Association IS Bindra Stadium, Mohali    0.000000
Punjab Cricket Association Stadium, Mohali              0.034483
Rajiv Gandhi International Stadium, Uppal               0.068966
Sardar Patel Stadium, Motera                            0.000000
Saurashtra Cricket Association Stadium                  0.000000
Sawai Mansingh Stadium                                  0.000000
Shaheed Veer Narayan Singh International Stadium        0.000000
Sharjah Cricket Stadium                                 0.034483
Sheikh Zayed Stadium                                    0.034483
St George's Park                                        0.000000
Subrata Roy Sahara Stadium                              0.103448
SuperSport Park                                         0.000000
Vidarbha Cricket Association Stadium, Jamtha            0.000000
Wankhede Stadium                                        0.034483
Name: prob, dtype: float64

In [17]:
teams=np.unique(df1["team2"])
teams

array(['Chennai Super Kings', 'Deccan Chargers', 'Delhi Daredevils',
       'Gujarat Lions', 'Kings XI Punjab', 'Kochi Tuskers Kerala',
       'Kolkata Knight Riders', 'Mumbai Indians', 'Pune Warriors',
       'Rajasthan Royals', 'Rising Pune Supergiant',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad'], dtype=object)

In [18]:
def opps(tem,opp):
    kkr=team(tem)  
    pw1=winfrq(tem)
    pb=0
    for i in np.arange(len(kkr["city"])):
          if (kkr["team2"][i]==opp) & (kkr["winner"][i]==tem):
                pb=pb+1
    return pb/pw1

In [19]:
def oppdis(team):
    s=[]
    for i in teams:
        s=np.append(s,(opps(team,i)))
    dfwdis=DataFrame(s,index=teams,columns=["prob"]) 
    return dfwdis

In [20]:
venues

0                                      Barabati Stadium
1                                     Brabourne Stadium
2                                          Buffalo Park
3                                 De Beers Diamond Oval
4                            Dr DY Patil Sports Academy
5     Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
6                   Dubai International Cricket Stadium
7                                          Eden Gardens
8                                      Feroz Shah Kotla
9                                            Green Park
10         Himachal Pradesh Cricket Association Stadium
11                               Holkar Cricket Stadium
12                   JSCA International Stadium Complex
13                                            Kingsmead
14                                M Chinnaswamy Stadium
15                      MA Chidambaram Stadium, Chepauk
16              Maharashtra Cricket Association Stadium
17                                        Nehru Stadium
18                                New Wanderers Stadium
19                                             Newlands
20                                      OUTsurance Oval
21    Punjab Cricket Association IS Bindra Stadium, ...
22           Punjab Cricket Association Stadium, Mohali
23            Rajiv Gandhi International Stadium, Uppal
24                         Sardar Patel Stadium, Motera
25               Saurashtra Cricket Association Stadium
26                               Sawai Mansingh Stadium
27     Shaheed Veer Narayan Singh International Stadium
28                              Sharjah Cricket Stadium
29                                 Sheikh Zayed Stadium
30                                     St George's Park
31                           Subrata Roy Sahara Stadium
32                                      SuperSport Park
33         Vidarbha Cricket Association Stadium, Jamtha
34                                     Wankhede Stadium
dtype: object

In [21]:
oppdis("Royal Challengers Bangalore")

                                 prob
Chennai Super Kings          0.100000
Deccan Chargers              0.066667
Delhi Daredevils             0.200000
Gujarat Lions                0.066667
Kings XI Punjab              0.166667
Kochi Tuskers Kerala         0.000000
Kolkata Knight Riders        0.000000
Mumbai Indians               0.100000
Pune Warriors                0.133333
Rajasthan Royals             0.100000
Rising Pune Supergiant       0.000000
Rising Pune Supergiants      0.033333
Royal Challengers Bangalore  0.000000
Sunrisers Hyderabad          0.033333

In [20]:
(px4w("Kolkata Knight Riders")[0])*((winven("Kolkata Knight Riders")["prob"])[4])*((oppdis("Kolkata Knight Riders")["prob"])[2])

0.003075156832998483

In [22]:
def conprob(yrtm,opp,ven,toss,in51):
    if toss=="field":
        toss=0
    if toss=="bat":
        toss=1
    if in51=="yes":
        pyrtm=home(yrtm,ven)[0]
    else:
        pyrtm=home(yrtm,ven)[1]
    py=(px4w(yrtm)[toss])*pyrtm*((oppdis(yrtm)["prob"])[opp])
    if ((winven(yrtm)["prob"])[ven])==0:
        tem=.000001
        postpre=(px4w(yrtm)[toss])*tem*((oppdis(yrtm)["prob"])[opp])
    else :
        postpre=(px4w(yrtm)[toss])*((winven(yrtm)["prob"])[ven])*((oppdis(yrtm)["prob"])[opp])
    return py

In [22]:
conprob("Kolkata Knight Riders","Sunrisers Hyderabad","Eden Gardens","field","yes")

0.03936200746238058

In [60]:
conprob("Kolkata Knight Riders","Sunrisers Hyderabad","Wankhede Stadium","bat","no")

0.06429127885522162

# here we obtain the prior probablity

In [23]:
in1=input(" plz enter team1 ", )      
in2=input(" plz enter team2 ", )       
in3=input(" plz enter venue ", ) 
in51=input("is the venue  home groung for team1(yes/no) ", )
in61=input("is the venue home ground for team2(yes/no) ",  )
in4=input(" plz enter your bat or field first ", )

 plz enter team1 Sunrisers Hyderabad
 plz enter team2 Delhi Daredevils
 plz enter venue Rajiv Gandhi International Stadium, Uppal
is the venue  home groung for team1(yes/no) yes
is the venue home ground for team2(yes/no) no
 plz enter your bat or field first bat

In [24]:
if in4=="field":
    in5="bat"
elif in4=="bat":
    in5="field"
p1=conprob(in1,in2,in3,in4,in51)
p2=conprob(in2,in1,in3,in5,in61)
if p1>p2:
    print(in1,"has more probablity to win in the given conditions")
elif p2>p1:
    print(in2,"has a greater chance of winning in the given conditions")
elif p2==p1:
    print("Both teams",in1,"and",in2,"has equal chances of winning under the given condtions")
elif p1==0 or p2==0 :
    print("Data inadequate")
else :
     print("Data inadequate")

Sunrisers Hyderabad has more probablity to win in the given conditions

In [22]:
p1

0.015256735020178573

In [23]:
p2

0.1614990234375

# here we are dealing with the posterior probablity

In [25]:
currdf=pd.read_csv("ipl2019.csv")

In [26]:
currdf["win"]

0     9.0
1     NaN
2     9.0
3     NaN
4     6.0
5     NaN
6     6.0
7     9.0
8     NaN
9     5.0
10    NaN
11    NaN
12    5.0
13    6.0
Name: win, dtype: float64

In [27]:
def postpro(tem1):
    for i in np.arange(len(currdf["teams"])):
        if (currdf)["teams"][i]==tem1:
            ppwin=(currdf)["win"][i]/((currdf)["win"][i]+(currdf)["loss"][i])
    return ppwin

In [28]:
postpro(in1)*p1

0.015216804236283153

In [29]:
postpro(in2)*p2

0.014577259475218658

In [1]:
import os

In [25]:
in1=input(" plz enter your team ", )      
in2=input(" plz enter opposition team ", )       
in3=input(" plz enter your venue ", )       
in4=input(" plz enter your bat or field first ", )

 plz enter your team Kolkata Knight Riders
 plz enter opposition team Royal Challengers Bangalore
 plz enter your venue  M Chinnaswamy Stadium
 plz enter your bat or field first field

In [30]:
if in4=="field":
    in5="bat"
elif in4=="bat":
    in5="field"
p1=conprob(in1,in2,in3,in4)*postpro(in1)
p2=conprob(in2,in1,in3,in5)*postpro(in2)
if p1>p2:
    print("Your team",in1,"has more probablity to win in the given conditions")
elif p2>p1:
    print("The opposition team ",in2,"has a greater chance of winning in the givem conditions")
elif p2==p1:
    print("Both teams",in1,"and",in2,"has equal chances of winning under the given condtions")
elif p1==0 or p2==0 :
    print("Data inadequate")
else :
     print("Data inadequate")

NameError: name 'field' is not defined